<div class="header-center">
  <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
    <%= form_tag spree.products_path, method: :get, class: "header-search-wrapper search-wrapper-wide search-form" do %>
      <button type="submit" class="btn btn-primary" aria-label="Submit">
        <%= icon(name: 'search',
                classes: 'icon-search',
                width: 27,
                height: 27) %>
      </button>
      <%= search_field_tag :keywords,
                           params[:keywords],
                           placeholder: Spree.t(:search),
                           title: Spree.t(:search),
                           autofocus: true,
                           'aria-label': Spree.t(:search),
                           class: "form-control" %>
    <% end %>
  </div><!-- End .header-search -->
</div>
